@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

svg {
  font: 14px 'Open Sans';
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.area {
  stroke-width: 1;
}

.area.outer,
.legend .outer {
  fill: rgba(230, 226, 175, 0.8);
  stroke: rgba(230, 246, 175, 0.8);
}

.area.inner,
.legend .inner {
  fill: rgba(167, 163, 126, 0.8);
  stroke: rgba(167, 183, 126, 0.8);
}

.median-line,
.legend .median-line {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.legend .legend-bg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 0.5);
}

.marker.全館促銷 .marker-bg,
.marker.全館促銷 path {
  fill: rgba(4, 99, 128, 0.8);
  stroke: rgba(4, 99, 128, 0.8);
  stroke-width: 3;
}

.marker.週年慶 .marker-bg,
.marker.週年慶 path {
  fill: rgba(255, 151, 79, 0.8);
  stroke: rgba(255, 151, 79, 0.8);
  stroke-width: 3;
}

.marker path {
  fill: none;
}

.legend text,
.marker text {
  fill: #fff;
  font-weight: bold;
}

.marker text {
  text-anchor: middle;
}
